<div class="dm-page-wrapper">
<!-- navigation path -->
  <div class="dm-page-path">
    <span>頁面路徑  / 主辦單位活動列表 / 台北威秀影城</span>
  </div>
  <div class="page-promotion">
    <!-- page poster -->
    <div class="poster-wrapper">

      <!-- <img src="http://blog.techartgroup.com/wp-content/uploads/2014/02/pic_news.jpg" alt=""> -->
      <%= image_tag @event.photos[0].pic.url %>
    </div>
    <!-- page description -->
    <div class="page-description">
      <h2 class="page-title">威秀影城[OPEN OPEN] 電影特映會</h2>
      <ul class="page-info">
        <li>
          <span class="date">活動時間：</span><span><%= @event.start_time %></span>~<span><%= @event.end_time %></span>
        </li>
        <li>
          <span class="event">費用資訊：</span><span>城市通話抽獎</span>
        </li>
        <li>
          <span class="times">活動場次：</span><span>活動只有一場次</span>
        </li>
        <li>
          <span class="organizer">主辦單位：</span><span><%= @event.organizer %></span>
        </li>
        <li>
          <span class="sponsor">主辦人：</span><span><%= @event.hoster %></span>
        </li>
        <li>
          <span class="address">地址：</span><span><%= @event.address %></span>
        </li>
        <li>
          <span class="websit">網址：</span><span><%= @event.website %></span>
        </li>
        <li>
          <span class="email">email：</span><span><%= @event.email %></span>
        </li>
        <li>
          <span class="phone">電話：</span><span><%= @event.contact_phone %></span>
        </li>
      </ul>
      <!-- page price -->
      <div class="page-event-price">
        <span>票價資訊</span>
        <!-- price list -->
        <div class="price actived"><span>NT</span><span class="value">300</span></div>
        <div class="price"><span>NT</span><span class="value">600</span></div>
        <div class="price"><span>NT</span><span class="value">900</span></div>

      </div>
      <!-- options -->
      <div class="page-options-wrapper">
        <ul>
          <li>
            <a href="#" class="option share">
              <span class="content">分享活動</span>
            </a>
          </li>
          <li>
            <a href="#" class="option favorite">
              <span>收藏活動</span>
            </a>
          </li>
          <li>
            <a href="#" class="option join">
              <span>參加活動去</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <!-- secondary page -->
  <div class="page-secondary">
    <div class="page-editor">
      <div class="ck-editor">
        <%= @event.description %>
      </div>
      <div class="leaveword">
        <span>留言：</span>
        <%= form_for @comment,:url => event_comments_path(@event) do |c|%>
        <!-- <textarea name="leaveword" id="leaveword" cols="30" rows="10"></textarea> -->
        <%= c.text_area :content %>
        <%= c.submit "發表" ,:id =>"commit", :class => "submit" %>
       <!--  <div class="submit">
          <span>送出留言</span>
        </div> -->
        <% end %>
      </div>
      <div class="page-msg-wrapper">
        <% @comments.each do |c|%>
        <div class="unit-wrapper">
          <div class="avatar">
            <%= image_tag current_user.image %>
          </div>
          <span class="name" title="Hey Mike 塞me">
            <%= current_user.name %>
          </span>
          <div class="leave-msg">
            <span>
              <%= c.content %>
            </span>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <!-- right side shorten dm Klein-->
    <div class="shorten-dm-wrapper">
      <div class="main-title">
        <span>熱門活動</span>
      </div>
      <div class="unit-shorten-cover">
<% @events.each do |e| %>
        <div class="unit-shorten-dm">

          <!-- close button -->
          <i class="shorten-close-btn fa fa-close" role="button"></i>

          <div class="shorten-dm-cover" style="background-image: url(<%=e.photos[0].pic.url %>);">
          </div>
          <div class="info-wrapper">

            <h4 class="title dm"><%=e.title%></h4>
            <!-- shorten dm info -->
            <div class="shorten-dm-info">
              <span class="host">Host：</span>
              <span><%=e.hoster%></span>
            </div>
            <!-- price -->
            <div class="shorten-price">
              <span>Price：</span>
              <!-- price list -->
              <div class="price actived"><span>NT</span><span class="value">300</span></div>
              <div class="price"><span>NT</span><span class="value">600</span></div>
              <div class="price"><span>NT</span><span class="value">900</span></div>
            </div>
            <!-- option -->
            <div class="option-wrapper">
              <a href="#" class="option join">
                <span><%=link_to "參加" , event_path(e)%></span>
              </a>
              <div class="join-count">
                <span><%= number_with_delimiter(rand(1..100000), :delimiter => ","  ) %></span>
                <span>Join it</span>
              </div>
            </div>
          </div>
        </div>
<% end %>
      </div>
    </div>

  </div>

</div>