<div class="filter-panel-wrapper trans-03s" data-behavior="filter-panel">
  <form action="#">
    <!-- Distance -->
  <%= form_tag events_path, :method => :get do %>
    <div class="filter-section-wrapper">
      <div class="filter-section">
        <h4>Distance</h4>
        <p class="range-field">
        <!--<input type="range" min="0.0" max="10.0" />-->
        <%= range_field_tag 'distance',:min=>"0.0", :max=>"10.0" %>
        </p>
        <span>0km</span><span class="right">10km</span>
      </div>
      <div class="filter-section">
        <!--<input placeholder="Type Address" type="text">-->
        <%= text_field_tag 'address',nil,placeholder: '活動地址'%>
      </div>
    </div>

    <!-- Active Type -->
    <div class="filter-section-wrapper">
      <div class="filter-section">
        <h4>Active Type</h4>
        <div class="input-field">
          <!-- <select>
            <option value="0">All Category</option>
            <option value="1">Eat</option>
            <option value="2">Play</option>
            <option value="3">Charity</option>
            <option value="4">Education</option>
          </select> -->
          <%= select_tag :active_type, options_for_select([[ "All Category", "0" ],[ "Eat", "1" ],[ "Play", "2" ],[ "Charity", "3" ],[ "Education", "4" ]])%>
        </div>
      </div>
      <div class="filter-section">
        <!-- <input placeholder="Type Keyword" type="text"> -->
        <%= text_field_tag'keyword', nil, placeholder: 'Type keyword' %>
      </div>
      <div class="filter-section">
        <a href="#">Food<i class="material-icons right">chevron_right</i></a>
      </div>
    </div>

    <!-- Time -->
    <div class="filter-section-wrapper">
      <div class="filter-section">
        <h4>Time</h4>
        <div class="input-field">
          <!-- <select>
            <option value="0">Recently</option>
            <option value="1">in 2 weeks</option>
            <option value="2">in 1 month</option>
            <option value="3">in 6 month</option>
          </select> -->
          <%= select_tag :time, options_for_select([[ "Recently", "0" ], [ "in 2 weeks", "1" ], [ "in 1 month", "2" ], [ "in 6 month", "3" ]]) %>
        </div>
      </div>
    </div>

    <!-- Price -->
    <div class="filter-section-wrapper">
      <div class="filter-section">
        <h4>Price</h4>
        <div class="input-field">
          <!-- <select>
            <option value="0">Free</option>
            <option value="1">1 ~ 299</option>
            <option value="2">Over 300</option>
          </select> -->
          <%= select_tag :price , options_for_select([[ "free", "0" ], ["1~299","1"], ["Over 300","2"]]) %>
          <!-- , options_for_select ([[ "0", "Free" ],[ "1", "1~299" ],[ "2", "Over 300" ]]) -->
        </div>
      </div>
    </div>

    <div class="filter-section-wrapper">
      <div class="filter-submit-btn">
        <!--<button type='submit' class="btn">Submit</button>-->
        <%= hidden_field_tag "search" %>
        <%= submit_tag "search",:class => "btn" %>
      </div>
    </div>
  <!--</form>-->
  <% end %>
</div>


