<!-- navigation path -->
<!-- <div class="host-page-path">
  <span>頁面路徑  / 主辦單位活動列表 / 台北威秀影城</span>
</div> -->
<!-- main wrapper -->
<div class="new-event-wrapper">
  <div class="new-event">
    <i class="material-icons">accessibility</i><span><%=current_user.name%> | 新建活動</span>
  </div>
<!-- avatar -->
  <div class="avatar-wrapper">
    <div class="image-wrapper">
     <%= image_tag current_user.image ,width: 100, height: 100 %>
      <%#= image_placeholder width: 100, height: 100, text: 'pic' %>
    </div>
    <span class="user-name"><%=current_user.name%></span>
  </div>

  <%=form_for @event, :html => {:class => "event-info"} do |f|%>
   <div class="event-form">
<!-- options -->
  <div class="options">
    <div class="create actived">
      <a href="#">
        <span>Event | 新建活動</span>
      </a>
    </div>
    <div class="create">
      <%=link_to new_subject_path do %>
        <span>Subject | 新建標案</span>
      <% end %>
    </div>
  </div>

<!-- description -->
  <div class="step-by-step">
    <div class="step-wrapper">
      <span>在JoinFuns建立的活動將獲得優先曝光</span>
      <div class="circle-wrapper">

        <div class="step actived">
          <span class="circle">1</span>
          <span>建立活動資訊</span>
        </div>

        <div class="step">
          <span class="dots">
            <%= image_tag 'dot-dot-bg.png' %>
          </span>
          <span>&nbsp</span>
        </div>

        <div class="step">
          <span class="circle">2</span>
          <span>選取宣傳工具</span>
        </div>

      </div>
    </div>
  </div>

<!-- event input 1st -->

  <!-- <form class="event-info"> -->
<!-- drop selection -->
<!-- #TODO -->

    <div class="section-wrapper">
      <div class="drop-section-wrapper">
        <select>
          <option value="" disabled selected>活動類別</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
    <div class="info-box actived">
      <label for="event-title1">活動主題</label>
      <span> <%= f.text_field :title %></span>
    </div>
    <div class="info-box">
      <label for="event-title2">主題圖片</label>
      <span>
        <!-- <input type="text" id="event-title2"> -->
        <%= f.file_field :cover %>
        <!-- <a href="" class="select-file">選取檔案</a> -->
      </span>
    </div>
    <div class="info-box">
      <label for="event-title3">活動連結</label>
      <span> <%= f.text_field :website %></span>
    </div>
    <div class="info-box">
      <label for="event-title4">活動地址</label>
      <span> <%= f.text_field :address %></span>
    </div>

<!-- time machine -->
    <div class="info-box time">
      <div class="inner-wrapper">
        <label for="event-title0">活動開始時間</label>
        <span><%= f.date_field :start_time, class: 'datepicker date' %></span>
      </div>
    </div>
    <div class="info-box time">
      <div class="inner-wrapper">
        <label for="event-title5">活動結束時間</label>
        <span><%= f.date_field :end_time, class: 'datepicker date'%></span>
      </div>
    </div>

    <div class="price-option">
      <span><label for="event-title5">活動價格</label></span>
      <!-- <a href="#" class="add"><i class="material-icons">add</i></a>
      <a href="#" class="add"><i class="material-icons">add</i></a>
      <a href="#" class="add"><i class="material-icons">add</i></a> -->
      <%= f.fields_for :prices do |price| %>

          <span><%= price.text_field :price,class: 'add' %></span>


      <% end %>
      <span>最多三組價格</span>
    </div>

    <div class="info-box">
      <label for="event-title6">聯絡電話</label>
      <span> <%= f.text_field :contact_phone %></span>
    </div>
    <div class="info-box">
      <label for="event-title7">連絡信箱</label>
      <span> <%= f.text_field :email %></span>
    </div>

<!-- ck - editor -->
    <div class="editor-wrapper">
      <span>文案編輯</span>
      <div class="editor">
        <%= f.text_area :description, rows: '3' %>
      </div>
    </div>

<!-- form option -->
    <div class="form-options">
      <div class="option cancle">
        <%= link_to events_path , :'data-no-turbolink' => true do%>
          <span>取消建立</span>
        <% end %>
      </div>
      <div class="option next">
        <a href="#">
          <span>下一步 | 選取宣傳工具</span>
        </a>
      </div>
    </div>
    </div>

<%= render :partial => "partials/promotion" ,:locals => { :f => f }%>
  <%end%>
  <!-- </form> -->



</div>


<%= content_for :handwrite_js do %>
  <script>
    $(document).ready(function() {
      $('.ckeditor').ckeditor({

  // optional config
      });
        $('select').material_select();
        JoinFuns.initMaterialDatepicker();
         $('.new-promo-wrapper').hide();
        $('.next').on("click",function(){
          $('.event-form').hide();
          $('.new-promo-wrapper').show();
        });
        $('.cancle').on("click",function(){
          $('.new-promo-wrapper').hide();
          $('.event-form').show();
        })
      });
  </script>
<% end %>
