<!-- navigation path -->
<!-- <div class="host-page-path">
  <span>頁面路徑  / 主辦單位活動列表 / 台北威秀影城</span>
</div> -->
<!-- main wrapper -->
<div class="new-subject-wrapper">
  <div class="new-subject">
    <i class="material-icons">accessibility</i><span><%= current_user.name %> | 新建標案</span>
  </div>
<!-- avatar -->
  <div class="avatar-wrapper">
    <div class="image-wrapper">
     <%= image_tag current_user.image ,width: 100, height: 100 %>
    </div>
    <span class="user-name"><%=current_user.name%></span>
  </div>

  <%=form_for @subject, :html => {:class => "subject-info"} do |f|%>
  <div class="subject-form">
<!-- options -->
  <div class="options">
    <div class="create">
      <%= link_to new_event_path do %>
        <span>Event | 新建活動</span>
      <% end %>
    </div>
    <div class="create actived">
      <a href="#">
        <span>Subject | 新建標案</span>
      </a>
    </div>
  </div>
<!-- description -->
  <div class="step-by-step">
    <div class="step-wrapper">
      <span>在JoinFuns建立的標案將獲得優先曝光</span>
      <div class="circle-wrapper">

        <div class="step actived">
          <span class="circle">1</span>
          <span>建立標案資訊</span>
        </div>

        <div class="step">
          <span class="dots">
            <%= image_tag 'dot-dot-bg.png' %>
          </span>
          <span>&nbsp</span>
        </div>

        <div class="step">
          <span class="circle">2</span>
          <span>選取宣傳工具</span>
        </div>

      </div>
    </div>
  </div>

<!-- subject input 1st -->


    <div class="info-box actived">
      <label for="subject-title1">活動主題</label>
      <span><%= f.text_field :title %></span>
    </div>
    <div class="info-box">
      <label for="subject-title2">主題圖片</label>
      <span>
        <!-- <input type="text" id="subject-title2">
        <a href="" class="select-file">選取檔案</a> -->
        <%= f.file_field :cover %>
      </span>

    </div>
    <div class="info-box">
      <label for="subject-title3">原始商品連結</label>
      <span><%= f.text_field :link %></span>
    </div>
    <div class="info-box">
      <label for="subject-title4">地址</label>
      <span><%= f.text_field :address %></span>
    </div>

<!-- drop selection -->
<!-- #TODO -->
    <div class="section-wrapper">
      <div class="drop-section-wrapper">
        <select>
          <option value="" disabled selected>結案天數</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
<!-- subject input 2nd -->
    <div class="info-box">
      <label for="subject-title5">商品價格</label>
      <span><%= f.text_field :price %></span>
    </div>
    <div class="info-box">
      <label for="subject-title6">聯絡電話</label>
      <span><%= f.text_field :phone %></span>
    </div>
    <div class="info-box">
      <label for="subject-title7">連絡信箱</label>
      <span><%= f.text_field :email %></span>
    </div>

<!-- ck - editor -->
    <div class="editor-wrapper">
      <span>文案編輯</span>
      <div class="editor">
        <%= f.text_area :description, rows: '3' %>
      </div>
    </div>

<!-- form option -->
    <div class="form-options">
      <div class="option cancle">
        <%= link_to events_path , :'data-no-turbolink' => true do%>
          <span>取消建立</span>
        <% end %>
      </div>
      <div class="option next">
        <a href="#">
          <span>下一步 | 選取宣傳工具</span>
        </a>
      </div>
    </div>
    </div>

 <%= render :partial => "partials/promotion" ,:locals => { :f => f }%>
  <%end%>



</div>

<%= content_for :handwrite_js do %>
  <script>
    $(document).ready(function() {
        $('select').material_select();
        $('.new-promo-wrapper').hide();
        $('.next').on("click",function(){
          $('.subject-form').hide();
          $('.new-promo-wrapper').show();
        });
        $('.cancle').on("click",function(){

          $('.new-promo-wrapper').hide();
          $('.subject-form').show();
        })

      });
  </script>
<% end %>
